p{
  /*Content Width and Heigh looks blue in inspector*/
  width: 50%;

  /*Border*/
  border: 2px solid blue;

  /*Padding: space inside of border looks green in inspector*/
  /*padding: 10px;*/
  padding-left: 40px;

  /*Margin: space outside of border looks orange in inspector*/
  /*margin: 100px;*/
  /*margin-top: 500px;*/
  /*margin order : top right bottom left;*/
  /*margin: 20px 40px 500px 100px;*/
  /*margin: 0 auto 0 auto;*/
  /*margin order: top and bottom then left and right*/
  margin: 0 auto;
}
